@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+3:wght@400;600;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #232e39;
    padding: 20px 100px 50px 100px;
    flex-wrap: wrap;
}

.header a {
    padding: 0px 20px;
    color: aliceblue;
    text-decoration: none;
}

h1 {
    color: aliceblue;
}

.section-1 {
    background-color: #232e39;
    color: aliceblue;
    font-size: 18px;
    padding: 20px 100px 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.image {
    flex-shrink: 6;
}

.hero-txt {
    min-width: 250px;
    flex-shrink: 1;
}

.section-1 img {
    max-width: 600px;
    align-self: baseline;
}

.section-1 p {
    color: #dcdee3;
    font-size: 15px;
}

h2 {
    font-size: 48px;
    margin: 10px 0px;

}

button {
    background-color: #2f85ee;
    color: aliceblue;
    border-radius: 10%;
    width: 100px;
    padding: 5px 10px;
    border: #232e39;
}

.section-2 {
    text-align: center;
    padding: 20px 20px 50px 20px;
}

.posts {
    display: flex;
    border: red;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0px 70px 70px 30px;
    background-color: white;
}

h3 {
    font-size: 30px;
}

.posts div {
    flex-grow: 1;
    border: 4px #2f85ee solid;
    border-radius: 10%;
    padding-top: 10px;
}

.posts img {
    max-width: 200px;
}

.section-3 {
    background-color: #e4e6ea;
    text-align: center;
    padding: 50px 30px;
    font-size: 30px;
    font-weight: bold;
}

.section-4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    background-color: #2f85ee;
    margin: 50px;
    color: aliceblue;
    flex-wrap: wrap;
    padding: 10px;
    padding-bottom: 30px;
}

.section-4 button {
    border: 2px white solid;
}

.section-4 p {
    font-size: 15px;
}

.footer {
    text-align: center;
    background-color: #232e39;
    color: aliceblue;
}