@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+3:wght@400;600;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #232e39;
    padding: 5px 5px;
}

.header a {
    padding: 0px 20px;
    margin-right: 20px;
    color: aliceblue;
    text-decoration: none;
}

h1 {
    margin-left: 20px;
    color: aliceblue;
}

.section-1 {
    background-color: #232e39;
    color: aliceblue;
    font-size: 18px;
    padding-left: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


img {
    max-width: 200px;
    align-self: baseline;
}

.section-1 p {
    color: #dcdee3;
    font-size: 15px;
}

h2 {
    font-size: 48px;

}

button {
    background-color: #2f85ee;
    color: aliceblue;
    border-radius: 10%;
    width: 100px;
    padding: 5px 10px;
    border: #232e39;
}

.section-2 {
    text-align: center;
}

.posts {
    display: flex;
    border: red;
    gap: 20px;
    flex-wrap: wrap;
}

.posts div {
    flex-grow: 1;
    border: 4px #2f85ee solid;
    border-radius: 10%;
}